/* 초기화 */
*, html{margin: 0;padding: 0;box-sizing: border-box;}
ul, p {margin: 0;padding: 0;}
li{list-style: none;}
img{border:none; outline: none; vertical-align: top;
max-width:100%; height: auto;}
a{text-decoration: none; color:inherit;}

/* 컬러선언 */
.color-red        { color: #ff0000 !important; }
.color-green      { color: #609b1b !important; }
.color-blue       { color: #1d61be !important; }
.color-yellow     { color: #fbff00 !important; }
.color-purple     { color: #e01cd8 !important; }
.color-violet     { color: #824fb5 !important; }
.color-orange     { color: #ff8000 !important; }
.color-crimson    { color: #ad1846 !important; }
.color-lightgreen { color: #38fc3f !important; }
.color-skyblue    { color: #36b2ff !important; }

/* Main CSS */

body{
    background:rgb(37, 37, 37);
    color: #999;
}

.header{
    background:rgb(65, 65, 65);
    color: white;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1100px;
}

.header-logo{
    display: inline-block;
    margin: 30px 0px;
}

.navbar{
    display: flex;
    overflow: hidden;
    background-color: #333;
}

.dropdown button{
    padding: 0 20px;
    display: block;
    line-height: 60px;
    background-color: #333;
    border: none;
    outline: none;
    color: white;
}

.dropdown .dropbtn:hover{
    background-color: rgb(82, 82, 82);
    cursor: pointer;
}

#active{
    background-color: rgb(37, 37, 37);
}

#active:hover{
    background-color: rgb(82, 82, 82);
}

.dropdown-content{
    background-color: #333;
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 160px
}

.dropdown-content a{
    padding: 0 20px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(82, 82, 82);
}

@media (max-width: 768px){
    .navbar{
        display: block;
    }
}

.header-point {
    position: absolute;
    top: 0;
    right: 0;
}

/* 동영상 */

.contents{
    padding: 30px 0;
    width: 100%;
    height: 600px;
}
.sidebar {
    float: left;
    width: 700px;
    margin: 0 20px 0 0;
    padding: 0;
}

.detail {
    overflow: hidden;
    background: black;
}

.detail-cover {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0px;
}

.detail-icon {
    float: left;
    background: black;
    margin: 0 0 0 15px;
}

.detail-contents {
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 40px 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.main {
    overflow: hidden;
}

.movie-contents{
    padding: 10px 0;      
    border-top: 5px solid;
}

.movie-contents h2 {
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}

.movie-contents p {
    text-align: left;
    color: #999;
    position: relative;
    font-size: 16px;
}




/* footer */
.footer {
    background: #191919;
    color: #999;
    border-top: 1px solid yellow;
    padding: 20px 0px;
    font-size: 20px;
}

.footer, .wrapper{
    text-align: center;
}

.footer .wrapper span.sns{
    font-size: 24px;
    margin: 0px 16px;
}

.footer .wrapper span{
    font-size: 16px;
    letter-spacing: 1px;
}

/* large DeskTop */
@media (max-width:1400px) {
    .wrapper {
        max-width: 1400px;
    }

    .col-large-1-5 {
        width: 20%;
    }

}


/* tablet */
@media (max-width:768px) {
    .col {
        width: 100%;
    }

    .col-tablet-6-12 {
        width: 33.33%;
    }

    .header {
        text-align: center;
    }

    .header-point {
        top: -500px;
    }

    .header-menu li {
        width: 20%;
    }

    .footer {
        text-align: center;
    }

}

/* mobile */
@media (max-width:500px) {
    .col {
        width: 100%;
    }

    .col-tablet-6-12 {
        width: 100%;
        display: block;
    }

    .col-tablet-1-5 {
        width: 100%;
        display: block;
    }

    .header {
        text-align: center;
    }

    .header-point {
        top: -500px;
    }

    .header-menu li {
        width: 20%;
    }

    .footer {
        text-align: center;
    }

}
