*, html{ margin: 0; padding: 0; box-sizing: border-box; }

body{
    background: black;
    color: white;
}

#landing{
    background: url(../img/Light_header.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

#landing .land_title{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}