* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: gray;
	padding: 10px;
    gap: 30px;
}

.grid{
    background-color: lightgray;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4{
    grid-column-start: 2;
    grid-column-end: 4;
}

.item5{
    grid-column-start: 1;
    grid-column-end: 4;
}
