* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    /* height: 500px; */
	display: grid;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-content: center; */
	grid-template-columns: auto auto auto auto auto auto;
	background-color: gray;
	padding: 10px;
    gap: 10px;
}

.container > div{
    background-color: lightgray;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}

.item1{
    /* grid-column: 1 / 5; */
    grid-column: 1 / span 4;
}