* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    height: 500px;
	display: grid;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: center;
    align-content: center;
	grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 200px;
	background-color: gray;
	padding: 10px;
    gap: 10px;
}

.grid{
    background-color: lightgray;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}
