*, html{ padding: 0; margin: 0; box-sizing: border-box; }
a{ text-decoration: none; color: inherit; }
ul{ list-style: none; }

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: green;
    clip-path: circle(600px at right 800px);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{

}

header ul li a{
    margin-left: 50px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;   
}

.content .textBox h2{
    font-size: 36px;
    font-weight: 900;
}

.content .textBox h2 span{
    color: green;
    font-size: 40px;
    font-weight: 900;
}

.content .textBox p{
    margin-top: 20px;
    color: #333;
    text-align: justify;
}   

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 14px 18px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.content .imgBox{
    position: relative;
}