* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

ul{margin: 0; padding: 0;}

body{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.menu header img{
	width: 170px;
}

nav{
	--duration: .5s;
	--easing: ease-in-out;
	background: rgba(255, 255, 255, 0.534);
	position: relative;
	width: 220px;
	margin: 30px;
	border-radius: 20px 20px 0 0;
}

nav header{
	padding: 10px;
	font-weight: 600;
	display: block;
	background: rgba(255, 255, 255, 0.514);
	border-radius: 20px 20px 0 0;
	transform-origin: 0 0;
	transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
	transition-delay: var(--delay-out);
}

nav header span{
	border: none;
	outline: none;
	background: transparent;
	font-size: 20px;
	padding-right: 15px;
	padding-top: 5px;
	line-height: 1;
	float: right;
	cursor: pointer;
	color: black;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	margin: -4px 0 0 0;
}

nav a{
	display: block;
	padding: 34px 24px;
	color: black;
	font-size: 16px;
	font-weight: 900;
	transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
}

nav a:hover{
	background-color: rgb(0, 94, 0);
	color: white;
}

nav .sub-menu{
	display: none;
}

nav .sub-menu a{
	margin-left: 30px;
	border-left: 2px solid rgb(0, 94, 0);
	padding: 24px 20px;
}

nav .sub-menu a:hover{
	background-color: rgb(0, 94, 0);
	color: white;
}


.menu-item:hover .sub-menu{
	display: block;
}


nav footer button{
	position: absolute;
	top: 0; left: 0;
	border: none;
	outline: none;
	padding: calc(1em - 2px);
	width: 100%;
	transform-origin: 0 0;
	transition: transform var(--duration) var(--easing);
	transition-delay: calc(var(--duration) + (0.1s * (var(--count) / 2)));
	opacity: 0;
}

nav.closed a, nav.closed header{
	transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
	transition-delay: var(--delay-in);
	color: transparent;
}

nav.closed footer button{
	transition-delay: 0s;
	transform: scaleY(0.7) scaleX(0.2);
}