* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.wrap{
	display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer'
    ;
}

.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: right;}
.item5{grid-area: footer;}


.item{
	/* 아이템그룹에는 전체 속성부여 */
	background-color: lightgray;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
    line-height: 200px;
}
