* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.wrap{
	width: 100%;
	height: 600px;
	background-color: gray;
	/* 레이아웃 배치 선언 */
	display: grid;
	/* grid-template-columns: auto auto auto; */
	/* grid-template-columns: 200px auto 500px auto; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(4, 1fr);
}

.item{
	/* 아이템그룹에는 전체 속성부여 */
	/* width: 200px;
	height: 200px; */
	background-color: lightgray;
	border: 1px solid white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 200px;
}

.item1{

}

