.container{
    background-color: darksalmon;
    /* overflow: hidden;    float: left; 일 때 넣어야 함 */
    display: flex;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}


.box{
    width: 200px;
    height: 200px;

    /* display: inline-block; */
    /* float: left;         부모에 overflow: hedden; */

    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
}

.box.box1{
    background-color: aquamarine;
    /* order: 3; */
    /* flex-grow: 1; */
    flex-basis: 400px;
}

.box.box2{
    background-color: beige;
    /* order: 1; */
    /* flex-grow: 1; */
}

.box.box3{
    background-color: cadetblue;
    /* order: 2; */
    /* flex-grow: 8; */
}

