* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

ul.sidenav{
	list-style: none;
    padding: 0; margin: 0;
    width: 25%;
    height: 100%;
    background-color: black;

    position: fixed;
    overflow: hidden;
}

ul.sidenav li a{
    display: block;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
}

.content{
    margin-left: 25%;
    padding: 0 20px;
    height: 1000px;
}

ul li:hover{
	background-color: mediumpurple;
}

.active{
	background-color: mediumorchid;
}

ul li:nth-child(5){
	/* float: right; */
}

.content{
	padding: 20px;
	/* margin-top: 30px; */

	background-color: mediumslateblue;
	height: 1500px;
}

@media (max-width: 1000px){
	ul.sidenav{
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a{
        float: left;
        padding: 20px;
    }

    .content{
        margin-left: 0;
    }
}

@media (max-width: 500px){
	ul.sidenav li a{
        float: none;
        text-align: center;
    }
}