*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.container {
  height: 100vh;
  background-color: rgb(211, 208, 208);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;           /* 가로정렬 */
  /* flex-direction: column; */
  align-items: center;               /* 세로정렬 */
}

.item{
  background-color: darkslateblue;
}

.item:nth-child(even){               /* even = 짝수 , odd = 홀수 */        
  background-color: gray;
}

.item:nth-child(1){
  /* flex-grow: 1; */                /* 여백 */
  /*flex-shrink: 1;  */              /* 초기화 */
  /* flex: 1; */
}

.item:nth-child(2){
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
  /* flex: 2; */
}

.item:nth-child(3){
  /* flex-grow: 1; */
  /* flex-shrink: 3; */
  /* flex: 1; */
}