*, html{
    padding: 0; margin: 0;
}

.wrap{
    /* background-color: lightblue; */
    background-image: url(../img/beach.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 30em;
    padding-bottom: 20em;
    text-align: center;
}

.title-h1{
    font-size: 6em;
    font-weight: 900;
    line-height: 1;
}

.title-small{
    font-size: 0.25em;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.9em;
    width: 2em;
    height: 2em;
    border: 0.1em solid white;
    margin: -0.5em 0.3em 0;
    padding-right: 0.3em;
    text-align: center;
}