*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    overflow: hidden;
    background-color: rgb(55, 55, 55);
}

.navbar a{
    float: left;
    padding: 16px 20px;
    color: white;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: 0;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 16px 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: gray;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
}

.dropdown-content a{
    font-size: 16px;
    float: none;
    color: black;
    padding: 16px 20px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background: lightgray;
}

.dropdown:hover .dropdown-content{
    display: block;
}